.progress_bar_item_container {
  .progress_bar {
    width: 100%;
    height: 50px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
  }
  .progress_bar_success {
    background: blueviolet;
    height: 50px;
    border-radius: 10px;
    width: 30%;
    border: none;
    display: grid;
    place-content: center;
    color: white;
  }
}
