import React, { useState, useEffect } from 'react';

import styles from './{{kebabCase name}}.module.scss';

export default function {{pascalCase name}}(props) {
  const [state, setState] = useState({});

  useEffect(() => {

  }, []);

  return (
    <main className={ styles.{{snakeCase name}}_container }>
      {{pascalCase name}} Component
    </main>
  );
}