.progress_bar_related_container {
  .comp_links {
    display: flex;
    gap: 10px;
  }
  h4 {
    text-align: start;
  }
  a {
    text-decoration: none;
    color: black;
    background: lightsalmon;
    padding: 14px;
    border-radius: 5px;
    text-transform: capitalize;
  }
}
