.temperature_converter_container_container {
  display: flex;
  align-items: center;
  gap: 10px;
  .form_div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: 1px solid black;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
  }
  label {
    background-color: lightgrey;
    width: 100%;
    text-align: center;
  }
}
