.grid_lights_container_container {
  padding: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}
.empty_box {
  width: 100px;
  height: 100px;
}

.flex_row {
  display: flex;
  gap: 5px;
  margin: 5px 0;
}
