.flight_booker_form_container {
  width: 500px;
  border: 1px solid gray;
  padding: 10px;
  select {
    margin-bottom: 20px;
  }
  .error_message {
    color: red;
  }
  button {
    width: 100%;
  }
  .form_field {
    display: flex;
    justify-content: space-between;
  }
}
