.tweet_section_container {
  display: flex;
  gap: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  max-width: 700px;
  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  p {
    margin: 10px 0;
  }
  .header_row {
    display: flex;
    gap: 10px;
    .tweet_name {
      font-weight: bolder;
    }
    .tweet_id_date {
      color: gray;
    }
  }
  .tweet_action {
    div {
      display: flex;
      gap: 10px;
      width: 100%;
    }
    display: flex;
    justify-content: space-between;
  }
}
